@use "resources/scss/variables.scss" as v;

* {
    font-family: "Poppins", Verdana, Tahoma, sans-serif;
    margin: 0;
    font-weight: v.$normal;
}

.maincontainer {
    margin: 0px v.$margin-desktop 0px v.$margin-desktop;
}

.title {
    color: v.$yellowdark;
    font-weight: v.$bold;
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    margin-top: 40px;
    margin-bottom: 100px;

    span {
        color: black;
        font-style: normal;
        font-weight: v.$bold;
    }
}

.filtercontainer {
    display: flex;
    gap: 20px;

    &__section {
        display: flex;
        flex: 1;

        &__button {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 20px 5px 20px;
            font-size: 20px;
    
            // background-color: white;
            border: 2px solid black;
        }

        &--addbutton {
            justify-content: flex-end;
        }

        &--searchbar {
            transition: all .3s ease-out;
        
            &:focus-within {
                flex: 1.5;
            }
        }
    }
}

.searchbar {
    width: 100%;

    input {
        height: 100%;
        font-size: 20px;
        width: 100%;
        border: none;
        outline: none;
    }
}

.quotescontainer {
    margin-top: v.$margin-desktop;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    min-height: 500px;

    &__column {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.quotecard {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

    &__iconcontainer {
        height: 40px;
    }

    &__quote {
        font-size: 24px;
    }

    &__infocontainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 18px;

        &__info {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }

        &__bekijk {
            text-decoration: underline;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.navcontainer {
    margin-top: 40px;
}

.footercontainer {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 40px v.$margin-desktop 20px v.$margin-desktop;
    margin-top: 80px;
}

.darkbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.addquoteform {
    position: relative;
    width: 800px;
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;

    &__title {
        background-color: white;
        padding: 10px 40px;
        border-radius: 16px;
        font-size: 24px;
    }

    &__annuleren {
        text-decoration: underline;
        font-size: 20px;
        cursor: pointer;
    }

    &__textfield {
        border: 2px solid black;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        height: 170px;
        resize: none;
        font-size: 24px;
    }

    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &__div {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        div {
            display: flex;
            gap: 10px;
            align-items: flex-end;
        }

        &__dropdown {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 50px 10px 20px;
            font-size: 24px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 298.04"><path fill-rule="nonzero" d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg>') white no-repeat 90%;
        }

        &__anders {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 50px 10px 20px;
            font-size: 24px;
            display: none;
        }

        &__date {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 20px 10px 20px;
            font-size: 24px;
        }

        &__toevoegen {
            text-decoration: underline;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.bekijkquote {
    position: relative;
    width: 800px;
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__topcontainer {
        display: flex;
        justify-content: space-between;

        &__terug {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 20px;
            cursor: pointer;
        }
    }

    &__quote {
        font-size: 32px;
    }

    &__bottomcontainer {
        display: flex;
        justify-content: space-between;
        font-size: 24px;

        &__info {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }

        &__bewerk {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.bewerkquote {
    position: relative;
    width: 800px;
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__topcontainer {
        display: flex;
        justify-content: space-between;

        &__annuleren {
            font-size: 20px;
            text-decoration: underline;
            cursor: pointer;
        }

        &__verwijder {
            font-size: 20px;
            color: red;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__quote {
        font-size: 24px;
        height: 170px;
        padding: 20px;
        border: 2px solid black;
        border-radius: 8px;
        resize: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
    
        &__div {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        div {
            display: flex;
            gap: 10px;
            align-items: flex-end;
        }

        &__dropdown {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 50px 10px 20px;
            font-size: 24px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 298.04"><path fill-rule="nonzero" d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg>') white no-repeat 90%;
        }

        &__anders {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 50px 10px 20px;
            font-size: 24px;
            display: none;
        }

        &__date {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 20px 10px 20px;
            font-size: 24px;
        }

        &__opslaan {
            text-decoration: underline;
            font-size: 20px;
            cursor: pointer;
        }
    
    }
}
