@use "resources/scss/variables.scss" as v;

.navcontainer {
    background-color: white;
    margin: 20px 0 30px 0;
    padding: 10px 0;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (min-width:v.$md){
        margin: 20px 0 50px 0;
    }

    @media only screen and (min-width:v.$lg){
        justify-content: space-between;
        align-items: flex-start;
        font-size: 20px;
        margin: 20px 0 100px 0;
    }


    &__boards {
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        order: 1;

        svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }

        @media only screen and (min-width:v.$lg){
            svg {
                width: 34px;
                height: 34px;
            }
        }
    }

    &__titlecontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11vw;
        font-weight: v.$bold;
        min-width: 100%;
        order: 3;
        margin-top: 50px;

        @media only screen and (min-width:v.$md){
            font-size: 9vw;
        }

        @media only screen and (min-width:v.$lg){
            margin-top: -10px;
            min-width: auto;
            line-break: anywhere;
            order: 2;
            font-size: 7vw;
        }

        &__boardtitle {
            color: black;
            text-transform: uppercase;
            text-align: center;
            line-height: 100%;
            
            @media only screen and (min-width:v.$lg){
                max-width: 50vw;
            }
        }

        &__komma {
            color: v.$yellowdark;
            margin-top: -1.7vw;
        }
    }

    &__quizcontainer {
        display: flex;
        gap: 10px;
        padding: 5px 10px 5px 10px;
        height: min-content;
        border: 2px solid black;
        order: 2;

        svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }

        @media only screen and (min-width:v.$lg){
            gap: 15px;
            padding: 5px 20px 5px 20px;

            svg {
                width: 34px;
                height: 34px;
            }
        }
    }
}