@use "resources/scss/variables.scss" as v;

// Swup animations
.transition-out_left, .transition-out_right {
    transition: 0.5s;
}

html.is-animating .transition-out_left {
    transform: translateX(-120%);
}

html.is-animating .transition-out_right {
    transform: translateX(120%);
}

.transition-title {
    transition: 0.5s;
}

html.is-animating .transition-title {
    transform: translateY(-200%);
}

.transition-quiztitle {
    transition: 0.5s;
    transform: scale(1);
}

html.is-animating .transition-quiztitle {
    transform: scale(0);
    opacity: 0;
}


.navcontainer {
    margin: 20px 0 30px 0;
    padding: 10px 0;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (min-width:v.$md){
        margin: 20px 0 50px 0;
    }

    @media only screen and (min-width:v.$lg) {
        justify-content: space-between;
        align-items: flex-start;
        font-size: 20px;
        margin: 20px 0 100px 0;
    }

    &__flexcontainer {
        position: relative;

        &--right {
            order: 2;
            display: flex;
            justify-content: flex-end;
        }

        &--title {
            order: 3;
            width: 100%;
        }

        @media only screen and (min-width:v.$lg){
            flex: 1;
            display: flex;
            justify-content: flex-start;

            &--title {
                flex: 4;
                justify-content: center;
                order: 2;
            }

            &--right {
                order: 3;
                justify-content: flex-end;
            }
        }
    }

    &__boards {
        display: flex;
        align-items: center;
        gap: 5px;
        white-space: nowrap;
        order: 1;
        text-decoration: underline;

        svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            transition: all .3s ease-in-out;
        }

        @media only screen and (min-width:v.$lg){
            svg {
                width: 34px;
                height: 34px;
            }
        }

        &:hover {
            svg {
                margin: 0 5px 0 -5px;
            }
        }
    }

    &__titlecontainer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11vw;
        font-weight: v.$bold;
        min-width: 100%;
        order: 3;
        margin-top: 50px;

        @media only screen and (min-width:v.$md){
            font-size: 9vw;
        }

        @media only screen and (min-width:v.$lg){
            margin-top: 10px;
            min-width: auto;
            line-break: anywhere;
            order: 2;
            font-size: 7vw;
        }

        &--quiztitle {
            display: none;
            position: absolute;
            top: 55%;
            right: 8%;
            font-family: "Rock Salt";
            font-size: 6vw;
            color: v.$yellowdark;
            -webkit-text-stroke: 1px v.$yellowdark;
            
            &--quizmode {
                display: block;
            }

            @media only screen and (min-width:v.$md){
                font-size: 3.5vw;
                right: 18%;
            }
    
            @media only screen and (min-width:v.$lg){
                font-size: 2.5vw;
                right: 8%;
            }
        }

        &__boardtitle {
            color: black;
            text-transform: uppercase;
            text-align: center;
            line-height: 70%;
            
            @media only screen and (min-width:v.$lg){
                max-width: 50vw;
            }
        }

        &__komma {
            color: v.$yellowdark;
            line-height: 70%;
        }
    }

    &__quizbuttoncontainer {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px 5px 10px;
        height: min-content;
        border: 2px solid black;
        order: 2;

        &:hover {
            background-color: v.$yellow;
        }

        &--question {
            padding: 5px;

            svg {
                padding: 7px;
            }
        }

        &--quizmode {
            height: 48px;
            flex-shrink: 0;
            margin-right: 10px;
            gap: 5px;

            svg {
                padding: 7px;
            }
        }

        svg {
            width: 34px;
            height: 34px;
            flex-shrink: 0;
        }

        @media only screen and (min-width:v.$lg){
            gap: 15px;
            padding: 5px 20px 5px 20px;

            &--question {
                padding: 5px;
            }

            &--quizmode {
                gap: 5px;
                padding: 5px 20px 5px 11px;
            }
        }
    }

    &__profilecontainer {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            transition: all .3s ease-out;
        }

        &__menu {
            background-color: white;
            position: absolute;
            top: 120%;
            right: 0;
            border: 2px solid black;
            overflow: hidden;
            transition: all .3s ease-out;
            opacity: 0;
            height: 0px;
            z-index: 1000;

            &__item {
                padding: 10px;
                border-bottom: 1px solid black;

                &:nth-last-child(-n + 1) {
                    border: none;
                }

                &:hover {
                    background-color: v.$yellow;
                }
            }
        }
    }
}