@use "resources/scss/variables.scss" as v;

// Swup animations
.transition-content {
    transition: 0.5s;
}

html.is-animating .transition-content {
    transform: translateY(50%);
    opacity: 0;
}

* {
    font-family: "Poppins", Verdana, Tahoma, sans-serif;
    margin: 0;
    font-weight: v.$normal;
}

.maincontainer {
    margin: 0px v.$margin-mobile 0px v.$margin-mobile;

    @media only screen and (min-width:v.$lg){
        margin: 0px v.$margin-desktop 0px v.$margin-desktop;
    }

    &--auth {
        min-height: 74.5vh;
        margin-top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
    }
}

.errorlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    margin: -20px 0 40px 0;

    @media only screen and (min-width:v.$lg){
        margin: -40px 0 40px 0;
    }

    li {
        max-width: 70vw;
        text-align: center;
    }
}

.filtercontainer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;

    @media only screen and (min-width:v.$lg){
        flex-wrap: nowrap;
        gap: 20px;
    }

    &__section {
        display: flex;
        white-space: nowrap;
        order: 2;

        @media only screen and (min-width:v.$lg){
            flex: 1;
        }

        .button {
            &:hover {
                background-color: v.$yellow;
            }
        }

        &__button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 10px 10px 10px;
            border: 2px solid black;
            font-size: 18px;

            svg {
                width: 28px;
                height: 28px;
                flex-shrink: 0;
            }

            .star {
                width: 34px;
                height: 34px;
                flex-shrink: 0;
            }

            p {
                display: none;
            }

            @media only screen and (min-width:v.$lg){
                gap: 15px;
                padding: 5px 20px 5px 20px;
                font-size: 20px;

                svg {
                    width: 34px;
                    height: 34px;
                }

                p {
                    display: block;
                }
            }
        }

        &--addbutton {
            justify-content: flex-end;
            order: 3;
        }

        &--searchbar {
            transition: all .3s ease-out;
            order: 2;
            min-width: 70%;
            flex: 1;
        
            &:focus-within {
                flex: 1.5;
            }

            @media only screen and (min-width:v.$md){
                min-width: auto;
            }
        }
    }
}

.searchbar {
    width: 100%;

    input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
    }
}

.statuscontainer {
    width: 100%;
    margin-top: 50px;

    h1 {
        justify-self: center;
    }

    &__logincontainer {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &__button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px 10px 5px 10px;
            height: min-content;
            border: 2px solid black;
            font-size: 18px;

            &:hover {
                background-color: v.$yellow;
            }

            @media only screen and (min-width:v.$lg){
                gap: 15px;
                padding: 5px 20px 5px 20px;
                font-size: 20px;
            }
        }
    }
}

.quotescontainer {
    margin-top: v.$margin-desktop;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    min-height: 300px;

    @media only screen and (min-width:v.$lg){
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px 0 120px 0;
        gap: 20px;
    }
}

.quotecard {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    gap: 20px;
    width: 100%;

    @media only screen and (min-width:v.$lg){
        width: calc((100% - 40px) / 3);

        &:nth-child(3n-7) {
            margin: 80px 0 -80px 0;
    
            &:hover {
                margin: 75px 0 -75px 0;
            }
        }

        &:hover {
            margin: -5px 0 5px 0;
            -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
        }
    }

    &__iconcontainer {
        height: 40px;
        margin-bottom: 10px;
    }

    &__quote {
        font-size: 22px;

        @media only screen and (min-width:v.$lg){
            font-size: 24px;
        }
    }

    &__infocontainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 18px;

        &__info {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }

        &__bekijk {
            text-decoration: underline;
            font-size: 18px;
            cursor: pointer;

            @media only screen and (min-width:v.$lg){
                font-size: 20px;
            }
        }
    }
}

.linkcontainer {
    margin-top: 40px;
}

.footercontainer {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 80px;
    font-size: 14px;

    @media only screen and (min-width:v.$lg){
        font-size: 16px;
    }
}

.darkbackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.addquoteform {
    position: relative;
    width: calc(100vw - v.$margin-mobile * 2);
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;

    @media only screen and (min-width:v.$md){
        width: 80vw;
    }

    @media only screen and (min-width:v.$lg){
        width: 800px;
        padding: 40px;
    }

    &__title {
        background-color: white;
        padding: 10px 40px;
        border-radius: 16px;
        font-size: 20px;

        @media only screen and (min-width:v.$lg){
            font-size: 24px;
        }
    }

    &__annuleren {
        text-decoration: underline;
        font-size: 18px;
        cursor: pointer;

        @media only screen and (min-width:v.$lg){
            font-size: 20px;
        }
    }

    &__textfield {
        border: 2px solid black;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        height: 30vh;
        resize: none;
        font-size: 22px;

        @media only screen and (min-width:v.$md){
            height: 170px;
        }

        @media only screen and (min-width:v.$lg){
            font-size: 24px;
        }
    }

    &__container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;

        @media only screen and (min-width:497px){
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 0;
        }

        &__div {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        div {
            display: flex;
            gap: 10px;
            align-items: flex-end;
            max-width: 100%;
        }

        &__dropdown {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 50px 10px 20px;
            font-size: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 298.04"><path fill-rule="nonzero" d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg>') white no-repeat 90%;
            order: 1;
            width: 225px;

            @media only screen and (min-width:v.$lg){
                font-size: 24px;
            }
        }

        &__anders {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 0 10px 20px;
            font-size: 20px;
            display: none;
            order: 2;

            @media only screen and (min-width:v.$lg){
                order: 3;
                padding: 10px 50px 10px 20px;
                font-size: 24px;
            }
        }

        &__date {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 20px 10px 20px;
            font-size: 20px;
            order: 3;

            @media only screen and (min-width:v.$lg){
                order: 2;
                padding: 10px 20px 10px 20px;
                font-size: 24px;
            }
        }

        &__toevoegen {
            text-decoration: underline;
            font-size: 18px;
            cursor: pointer;

            @media only screen and (min-width:v.$lg){
                font-size: 20px;
            }
        }
    }
}

.bekijkquote {
    position: relative;
    width: calc(100vw - v.$margin-mobile * 2);
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media only screen and (min-width:v.$md){
        width: 80vw;
    }

    @media only screen and (min-width:v.$lg){
        width: 800px;
        padding: 40px;
    }

    &__topcontainer {
        display: flex;
        justify-content: space-between;

        &__terug {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            cursor: pointer;

            svg {
                transition: all .3s ease-in-out;
            }

            &:hover {
                svg {
                    margin: 0 5px 0 -5px;
                }
            }

            @media only screen and (min-width:v.$lg){
                font-size: 20px;
            }
        }
    }

    &__quote {
        font-size: 24px;

        @media only screen and (min-width:v.$lg){
            font-size: 32px;
        }
    }

    &__bottomcontainer {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        gap: 20px;

        @media only screen and (min-width:v.$lg){
            font-size: 24px;
        }

        &__info {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }

        &__bewerk {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            cursor: pointer;

            @media only screen and (min-width:v.$lg){
                font-size: 20px;
            }
        }
    }
}

.bewerkquote {
    position: relative;
    width: calc(100vw - v.$margin-mobile * 2);
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media only screen and (min-width:v.$md){
        width: 80vw;
    }

    @media only screen and (min-width:v.$lg){
        width: 800px;
        padding: 40px;
    }

    &__topcontainer {
        display: flex;
        justify-content: space-between;

        &__annuleren {
            font-size: 18px;
            text-decoration: underline;
            cursor: pointer;

            @media only screen and (min-width:v.$lg){
                font-size: 20px;
            }
        }

        &__verwijder {
            font-size: 18px;
            color: red;
            text-decoration: underline;
            cursor: pointer;

            @media only screen and (min-width:v.$lg){
                font-size: 20px;
            }
        }
    }

    &__quote {
        font-size: 22px;
        height: 30vh;
        padding: 20px;
        border: 2px solid black;
        border-radius: 8px;
        resize: none;

        @media only screen and (min-width:v.$md){
            height: 170px;
        }

        @media only screen and (min-width:v.$lg){
            font-size: 24px;
        }
    }

    &__container {
        display: flex;
        justify-content: flex-end;
        font-size: 24px;
        gap: 20px;
        flex-wrap: wrap;

        @media only screen and (min-width:500px){
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    
        &__div {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        div {
            display: flex;
            gap: 10px;
            align-items: flex-end;
        }

        &__dropdown {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 50px 10px 20px;
            font-size: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="16" height="16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 298.04"><path fill-rule="nonzero" d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg>') white no-repeat 90%;
            width: 225px;

            @media only screen and (min-width:v.$lg){
                font-size: 24px;
            }
        }

        &__anders {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 50px 10px 20px;
            font-size: 20px;
            display: none;

            @media only screen and (min-width:v.$lg){
                font-size: 24px;
            }
        }

        &__date {
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px 20px 10px 20px;
            font-size: 20px;

            @media only screen and (min-width:v.$lg){
                font-size: 24px;
            }
        }

        &__opslaan {
            text-decoration: underline;
            font-size: 18px;
            cursor: pointer;

            @media only screen and (min-width:v.$lg){
                font-size: 20px;
            }
        }
    
    }
}